.vote-jocker {
    width: 525px;
    height: 525px;
    position: relative !important;
}

.super-jocker {
    position: relative !important;
}

.jocker-icon {
    position: absolute;
    cursor: pointer;
    width: 100px;
    transition: 2.0s;
}

img.jocker-icon {
    border-radius: 50%;
    outline: 0;
}

div.score {
    z-index: 9999 !important;
    top: 0px;
    left: 80px;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
}

.angle-1 { /*top-left*/
    top: 10px;
    left: 0px;
    z-index: 9998 !important;
}

.angle-2 { /*top-right*/
    top: 10px;
    left: 90%;
    z-index: 9998 !important;
}

.angle-3 { /*bottom-left*/
    top: 80%;
    left: 0px;
    z-index: 9998 !important;
}

.angle-4 { /*bottom-right*/
    top: 80%;
    left: 90%;
    z-index: 9998 !important;
}

#file-input {
    display: none;
}

md-icon.file-input {
    z-index: 9999 !important;
    cursor: pointer !important;
}

.myimage {
    position: absolute !important;
    bottom: -110px !important;
    right: -10px !important;
    background-color: #999999 !important;
}

.generate-points(@c,@n, @left,@i: 1) when (@i =< @n) {

  .generate-points2(@c,@n,@left);
  .generate-points(@c + 5, @n,@left+100, (@i + 1));
}

.generate-points(0,5, 0);

.generate-points2(@c,@n, @left,@i: 1) when (@i =< @n) {
  @count: @c + @i;
  .point-@{count} {
    left: @left + 0px;
    top: (@i * 100) - 100px;
  }

  .generate-points2(@c ,@n,@left, (@i + 1));
}
