<md-content flex layout="column" layout-align="center center">
    <h3>What is joker's name?</h3>
    <form ng-submit="ctrl.login(ctrl.name)">
        <md-input-container>
            <label>Name</label>
            <input ng-model="ctrl.name">
        </md-input-container>
    </form>
    <section layout="row">
        <md-button class="md-raised" ng-click="ctrl.login(ctrl.name)">Login</md-button>
        <md-button class="md-raised" ng-click="ctrl.register()">Register</md-button>
    </section>
</md-content>
