<md-content flex layout="column" layout-align="center center">
    <div ng-repeat = "joker in ctrl.superJokers track by joker.pk" class="jocker-icon {{joker.style}}" >
        <div class="score" layout="row" layout-align="center center">
            <span>{{joker.fields.score}}</span>
        </div>
        <img src="media/{{joker.fields.image}}"
                class="jocker-icon"
                title="{{joker.pk}}"
                ng-click = "ctrl.vote(joker, ctrl.jokerName, joker.pk)" height="100" width="100">
        <md-button class="myimage md-fab md-mini" ng-if="joker.pk==ctrl.jokerName">
            <label for="file-input">
                <md-icon class="file-input" md-svg-icon="action:ic_perm_camera_mic_24px"></md-icon>
            </label>
        </md-button>
    </div>
    <md-content layout="row" layout-wrap class="vote-jocker">
        <div ng-repeat = "joker in ctrl.jokers track by joker.pk" class="jocker-icon {{joker.style}}" >
            <div class="score" layout="row" layout-align="center center">
                <span>{{joker.fields.score}}</span>
            </div>
            <img src="media/{{joker.fields.image}}"
                    class="jocker-icon"
                    title="{{joker.pk}}"
                    ng-click = "ctrl.vote(joker, ctrl.jokerName, joker.pk)" height="100" width="100">
            <md-button class="myimage md-fab md-mini" ng-if="joker.pk==ctrl.jokerName">
                <label for="file-input">
                    <md-icon class="file-input" md-svg-icon="action:ic_perm_camera_mic_24px"></md-icon>
                </label>
            </md-button>
        </div>
    </md-content>
    <input id="file-input" type="file" update-file-model="ctrl.img">
</md-content>
